<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Классы в школе</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div th:insert="~{header-admin :: admin-header}"></div>
    <hr>
    <ul class="list-group mb-2">
        <li class="list-group-item" aria-current="true">
            Номер класса: <span class="text-danger" th:text="${cl.number()}"></span>
        </li>
        <li class="list-group-item" aria-current="true">
            Буква класса: <span class="text-danger" th:text="${cl.letter()}"></span>
        </li>
        <li class="list-group-item" aria-current="true">
            Описание класса: <span class="text-danger" th:text="${cl.description != null} ? ${cl.description} : 'Нет описания'"></span>
        </li>
    </ul>
    <hr>
    <h3 th:text="${'Список учеников ' + cl.number()+'-'+cl.letter()+' класса'}"></h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Отчество</th>
            <th scope="col">Адрес электроннй почты</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-light" th:each="st : ${students}">
            <td class="table-light" th:text="${st.lastname()}"></td>
            <td class="table-light" th:text="${st.firstname()}"></td>
            <td class="table-light" th:text="${st.patronymic()}"></td>
            <td class="table-light" th:text="${st.email()}"></td>
        </tr>
        </tbody>
    </table>
    <h3 th:text="${'Список предметов ' + cl.number()+'-'+cl.letter()+' класса'}"></h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Тип</th>
            <th scope="col">Код</th>
            <th scope="col">Описание</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-light" th:each="subject : ${subjects}">
            <td class="table-light" th:text="${subject.name()}"></td>
            <td class="table-light" th:text="${subject.type()}"></td>
            <td class="table-light" th:text="${subject.code()}"></td>
            <td class="table-light" th:text="${subject.description()}"></td>
        </tr>
        </tbody>
    </table>

    <form th:method="DELETE" class="me-2 mb-2" th:action="@{/classes/{id}(id=${cl.id})}">
        <button class="btn btn-outline-danger active" type="submit">
            Удалить класс
        </button>
    </form>
    <a th:href="@{/classes/{id}/edit(id=${cl.id()})}" class="me-2">
        <button class="btn btn-outline-warning active" type="submit">
            Редактировать информацию о классе
        </button>
    </a>
    <hr>
    <div th:insert="~{footer :: footer}"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>