<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о классе</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div th:insert="~{header-admin :: admin-header}"></div>
    <hr>
    <div class="card p-3">
        <h2>Информация о классе</h2>
        <ul class="list-group mb-2">
            <li class="list-group-item" aria-current="true">
                Номер класса: <span class="text-danger" th:text="${cl.number()}"></span>
            </li>
            <li class="list-group-item" aria-current="true">
                Буква класса: <span class="text-danger" th:text="${cl.letter()}"></span>
            </li>
            <li class="list-group-item" aria-current="true">
                Описание класса: <span class="text-danger"
                                       th:text="${cl.description != null} ? ${cl.description} : 'Нет описания'"></span>
            </li>
        </ul>
        <form th:method="DELETE" class="me-2 mb-2" th:action="@{/classes/{id}(id=${cl.id})}">
            <button class="btn btn-outline-danger active" type="submit">
                Удалить класс
            </button>
        </form>
        <a th:href="@{/classes/{id}/edit(id=${cl.id()})}" class="me-2 mb-2">
            <button class="btn btn-outline-warning active" type="submit">
                Редактировать информацию о классе
            </button>
        </a>
    </div>
    <hr>
    <div class="card p-3">
        <h2>Ученики</h2>
        <p>
            <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#showStudents"
                    aria-expanded="false" aria-controls="showStudents">
                Список учеников класса
            </button>
        </p>
        <div class="collapse border border-dark rounded mb-2" id="showStudents">
            <div class="card card-body">
                <div th:if="${!students.isEmpty()}" class="p-3">
                    <h3 th:text="${'Список учеников ' + cl.number()+'-'+cl.letter()+' класса'}"></h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Фамилия</th>
                            <th scope="col">Имя</th>
                            <th scope="col">Отчество</th>
                            <th scope="col">Адрес электроннй почты</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="table-light" th:each="st : ${students}">
                            <td class="table-light" th:text="${st.lastname()}"></td>
                            <td class="table-light" th:text="${st.firstname()}"></td>
                            <td class="table-light" th:text="${st.patronymic()}"></td>
                            <td class="table-light" th:text="${st.email()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div th:if="${students.isEmpty()}" class="p-3">
                    <h3 style="color:red">На данный момент в классе нет учеников</h3>
                </div>
            </div>
        </div>
        <p>
            <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#addStudents"
                    aria-expanded="false" aria-controls="addStudents">
                Добавление учеников в класс
            </button>
        </p>
        <div class="collapse border border-dark rounded mb-2" id="addStudents">
            <div th:if="${!studentsForAdding.isEmpty()}" class="p-3">
                <form class="mb-2 w-25" th:method="POST" th:action="@{/classes/{classId}/students(classId=${cl.id()})}">
                    <h4>Добавить школьников в класс:</h4>
                    <div class="form-check" th:each="studentForAdding : ${studentsForAdding}">
                        <input class="form-check-input" type="checkbox" th:name="studentsIds" id="studentsIds"
                               th:value="${studentForAdding.id()}">
                        <label class="form-select mb-2"
                               th:text="${studentForAdding.lastname()+' '+studentForAdding.firstname()+' '+studentForAdding.patronymic()+' '+studentForAdding.email()}">
                        </label>
                    </div>
                    <input type="submit" class="btn btn-success" value="Добавить школьников в класс"/>
                </form>
            </div>

            <div th:if="${studentsForAdding.isEmpty()}" class="p-3">
                <h3 style="color:red">На данный момент учеников без класса нет</h3>
            </div>
        </div>
    </div>
    <hr>
    <div class="card p-3">
        <h2>Предметы</h2>
        <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#showSubjects"
                    aria-expanded="false" aria-controls="showSubjects">
                Список предметов класса
            </button>
        </p>
        <div class="collapse border border-dark rounded mb-2" id="showSubjects">
            <div class="card card-body">
                <div th:if="${!subjects.isEmpty()}" class="p-3">
                    <h3 th:text="${'Список предметов ' + cl.number()+'-'+cl.letter()+' класса'}"></h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Название</th>
                            <th scope="col">Тип</th>
                            <th scope="col">Код</th>
                            <th scope="col">Описание</th>
                            <th scope="col">ДЗ</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="table-light" th:each="subject : ${subjects}">
                            <td class="table-light" th:text="${subject.name()}"></td>
                            <td class="table-light" th:text="${subject.type()}"></td>
                            <td class="table-light" th:text="${subject.code()}"></td>
                            <td class="table-light" th:text="${subject.description()}"></td>
                            <td class="table-light">
                                <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                   th:href="@{/homeworks/all/{classId}(classId=${cl.id()},subjectId=${subject.id()})}">ДЗ</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:if="${subjects.isEmpty()}" class="p-3">
                    <h3 style="color:red">На данный момент классу не назначены предметы</h3>
                </div>

            </div>
        </div>
        <p>
            <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#addSubjects"
                    aria-expanded="false" aria-controls="addSubjects">
                Добавление предметов классу
            </button>
        </p>
        <div class="collapse border border-dark rounded mb-2" id="addSubjects">
            <div th:if="${!subjectsForAdding.isEmpty()}" class="p-3">
                <form class="mb-2 w-25" th:method="POST" th:action="@{/classes/{classId}/subjects(classId=${cl.id()})}">
                    <h4>Добавить предметы классу:</h4>
                    <div class="form-check" th:each="subjectForAdding : ${subjectsForAdding}">
                        <input class="form-check-input" type="checkbox" th:name="subjectsIds" id="subjectIds"
                               th:value="${subjectForAdding.id()}">
                        <label class="form-select mb-2"
                               th:text="${subjectForAdding.name()+' '+subjectForAdding.code()+' '+subjectForAdding.type()}">
                        </label>
                    </div>
                    <input type="submit" class="btn btn-success" value="Добавить предметы классу"/>
                </form>
            </div>

            <div th:if="${subjectsForAdding.isEmpty()}" class="mb-2">
                <h3 style="color:red">На данный момент неназначенных предметов нет</h3>
            </div>
        </div>

    </div>
    <hr>
    <div th:if="${!subjects.isEmpty()}" class="card p-3">
        <h2>ДЗ</h2>
        <p>
            <button class="btn btn-info" type="button" data-bs-toggle="collapse" data-bs-target="#addHomework"
                    aria-expanded="false" aria-controls="addHomework">
                Добавление ДЗ классу
            </button>
        </p>
        <div class="collapse border border-dark rounded mb-2 p-3" id="addHomework">
            <h2>Добавить ДЗ классу</h2>
            <form class="mb-2 w-25" th:method="POST" th:action="@{/homeworks}">
                <div class="form-group mb-2">
                    <label for="title">Введите название домашнего задания: </label>
                    <input class="form-control" type="text" name="title" id="title" max="11" min="1" required/>
                </div>
                <div class="form-group mb-2">
                    <label for="description">Введите описание ДЗ: </label>
                    <input class="form-control" type="text" name="description" id="description" required/>
                </div>
                <div class="form-group mb-2">
                    <label for="deadline">Дата ДЗ:</label>
                    <input type="date" id="deadline" name="deadline"/>
                </div>
                <input type="number" id="classId" th:name="classId" th:value="${cl.id()}" hidden>
                <h4>Выберите предмет:</h4>
                <label for="sub">Выберите предмет: </label>
                <select name="subjectId" id="sub" class="form-select mb-2" aria-label="Disabled select example">
                    <option th:each="subject : ${subjects}" th:value="${subject.id()}" name="subjectId" id="subjectId"
                            th:text="${subject.name()}"></option>
                </select>
                <input type="submit" class="btn btn-success" value="Создать ДЗ"/>
            </form>
        </div>
    </div>
    <hr>
    <div class="card p-3">
        <h2>Расписание</h2>
        <a th:href="@{/schedules/all/{classId}(classId=${cl.id()})}" class="me-2 mb-2">
            <button class="btn btn-outline-info active" type="submit">
                Расписание класса
            </button>
        </a>

        <div th:if="${!subjects.isEmpty()}">
            <p>
                <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#addSchedule"
                        aria-expanded="false" aria-controls="addSchedule">
                    Добавление ячейки расписания
                </button>
            </p>
            <div class="collapse border border-dark rounded p-3" id="addSchedule">
                <div class="card card-body">
                    <form class="mb-2 w-25" th:method="POST" th:action="@{/schedules}">
                        <label>Выберите день недели: </label>
                        <select name="dayOfWeek" class="form-select mb-2" aria-label="Disabled select example">
                            <option value="1" name="dayOfWeek">Понедельник</option>
                            <option value="2" name="dayOfWeek">Вторник</option>
                            <option value="3" name="dayOfWeek">Среда</option>
                            <option value="4" name="dayOfWeek">Четверг</option>
                            <option value="5" name="dayOfWeek">Пятница</option>
                        </select>
                        <input type="time" id="startTime" name="startTime" value="09:00">
                        <div class="form-group mb-2">
                            <label for="numberOfClassroom">Введите номер кабинета: </label>
                            <input class="form-control" type="number" name="numberOfClassroom" id="numberOfClassroom"
                                   max="300" min="1"
                                   required/>
                        </div>
                        <input type="number" th:name="classId" th:value="${cl.id()}" hidden>
                        <h4>Выберите предмет:</h4>
                        <label for="sub">Выберите предмет: </label>
                        <select name="subjectId" class="form-select mb-2" aria-label="Disabled select example">
                            <option th:each="subject : ${subjects}" th:value="${subject.id()}" name="subjectId"
                                    th:text="${subject.name()}"></option>
                        </select>
                        <input type="submit" class="btn btn-success" value="Создать ячейку расписания"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="~{footer :: footer}"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>