<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Регистрация родителя</title>
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <span class="fs-4">Электронный дневник</span>
        </a>
        <ul class="nav nav-pills me-2">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Регистрация
            </button>
            <div class="btn-group">
                <ul class="dropdown-menu">
                    <li><a href="/registration/admin" class="dropdown-item">Регистрация аккаунта админа</a></li>
                    <li><a href="/registration/teacher" class="dropdown-item">Регистрация аккаунта учителя</a></li>
                    <li><a href="/registration/student" class="dropdown-item">Регистрация аккаунта школьника</a></li>
                    <li><a href="/registration/parent" class="dropdown-item">Регистрация аккаунта родителя</a></li>
                </ul>
            </div>
        </ul>
        <ul class="nav nav-pills me-2">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Предметы
            </button>
            <div class="btn-group">
                <ul class="dropdown-menu">
                    <li><a href="/subjects/all" class="dropdown-item">Список всех предметов</a></li>
                    <li><a href="/subjects/add" class="dropdown-item">Добавить предмет</a></li>
                </ul>
            </div>
        </ul>
        <ul class="nav nav-pills me-2">
            <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Классы
            </button>
            <div class="btn-group">
                <ul class="dropdown-menu">
                    <li><a href="/classes/all" class="dropdown-item">Список всех классов</a></li>
                    <li><a href="/classes/add" class="dropdown-item">Добавить класс</a></li>
                </ul>
            </div>
        </ul>
        <form th:action="@{/logout}" th:method="POST" class="me-2">
            <button class="btn btn-outline-danger active" type="submit">
                Выйти
            </button>
        </form>
    </header>
    <hr>
    <form class="mb-2 w-25" th:method="POST" th:action="@{/registration/parent}">
        <div class="form-group mb-2">
            <label for="firstname">Введите имя родителя: </label>
            <input class="form-control" type="text" name="firstname" id="firstname" required/>
        </div>
        <div class="form-group mb-2">
            <div class="form-group mb-2">
                <label for="lastname">Введите фамилию родителя: </label>
                <input class="form-control" type="text" name="lastname" id="lastname" required/>
            </div>
        </div>
        <div class="form-group mb-2">
            <div class="form-group mb-2">
                <label for="patronymic">Введите отчество родителя: </label>
                <input class="form-control" type="text" name="patronymic" id="patronymic" required/>
            </div>
        </div>
        <div class="form-group mb-2">
            <label for="email">Введите почтовый ящик родителя: </label>
            <input class="form-control" type="email" name="email" id="email" required/>
        </div>
        <div class="form-group mb-2">
            <label for="password">Введите пароль родителя: </label>
            <input class="form-control" type="password" name="password" id="password" required/>
        </div>
        <input type="submit" class="btn btn-info" value="Регистрация"/>
    </form>
    <hr>
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Главная</a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2024 Maks Yudanov</p>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>