<header th:fragment="admin-header" class="d-flex flex-wrap justify-content-center py-3 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <span class="fs-4">Электронный дневник</span>
    </a>
    <ul class="nav nav-pills me-2">
        <li class="nav-item me-2"><a href="/" class="nav-link active" aria-current="page">Главная</a></li>
        <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Регистрация
        </button>
        <div class="btn-group">
            <ul class="dropdown-menu">
                <li><a href="/registration/admin" class="dropdown-item">Регистрация аккаунта админа</a></li>
                <li><a href="/registration/teacher" class="dropdown-item">Регистрация аккаунта учителя</a></li>
                <li><a href="/registration/student" class="dropdown-item">Регистрация аккаунта школьника</a></li>
                <li><a href="/registration/parent" class="dropdown-item">Регистрация аккаунта родителя</a></li>
            </ul>
        </div>
    </ul>
    <ul class="nav nav-pills me-2">
        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Пользователи
        </button>
        <div class="btn-group">
            <ul class="dropdown-menu">
                <li><a href="/users/teachers/all" class="dropdown-item">Учителя</a></li>
                <li><a href="/users/parents/all" class="dropdown-item">Родители</a></li>
                <li><a href="/users/students/all" class="dropdown-item">Ученики</a></li>
            </ul>
        </div>
    </ul>
    <ul class="nav nav-pills me-2">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Предметы
        </button>
        <div class="btn-group">
            <ul class="dropdown-menu">
                <li><a href="/subjects/all" class="dropdown-item">Список всех предметов</a></li>
                <li><a href="/subjects/add" class="dropdown-item">Добавить предмет</a></li>
            </ul>
        </div>
    </ul>
    <ul class="nav nav-pills me-2">
        <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Классы
        </button>
        <div class="btn-group">
            <ul class="dropdown-menu">
                <li><a href="/classes/all" class="dropdown-item">Список всех классов</a></li>
                <li><a href="/classes/add" class="dropdown-item">Добавить класс</a></li>
            </ul>
        </div>
    </ul>
    <form th:action="@{/logout}" th:method="POST" class="me-2">
        <button class="btn btn-outline-danger active" type="submit">
            Выйти
        </button>
    </form>
</header>